<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonSerializer" version="1.0.1" targetFramework="net461" />
  <package id="CommonSerializer.MsgPack.Cli" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.1.0.0" targetFramework="net461" />
  <package id="MsgPack.Cli" version="0.6.5" targetFramework="net461" />
</packages>